{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    <p>Bienvenue {{ app.user.firstname }} vous allez pouvoir accéder à vos informations personnelles ici </p>


        <hr>
    - <a href="{{ path('account_password') }}"> Modifier mon mot de passe </a><br/>
    - Ajouter mes adresses <br/>
    - Mes commandes <br/>
    <hr>
{% endblock %}
