{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    <p>Bienvenue {{ app.user.firstname }} vous allez pouvoir accéder à vos informations personnelles ici </p>
        <hr>
    {% if is_granted('ROLE_ADMIN') %}
    - <a href="/admin"> Vous êtes un administrateur ? </a><br/>
    {% endif %}
    - <a href="{{ path('account_password') }}"> Modifier mon mot de passe </a><br/>
    - <a href="{{ path('account_address') }}">Ajouter mes adresses</a> <br/>
    - <a href="{{ path('account_order') }}">Mes commandes</a> <br/>
    <hr>
{% endblock %}
